<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    
    <add name="DesarrolloConnectionString" connectionString="Data Source=192.168.110.22;Initial Catalog=Desarrollo;Persist Security Info=True;User ID=Practica;Password=desa864"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  </configuration>